*{CSS
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#111418;
    color:#f2f2f2;
    font-family:Georgia, "Times New Roman", serif;
    line-height:1.7;
}

header{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

h1{
    font-size:4rem;
    letter-spacing:4px;
    margin-bottom:20px;
}

.subtitulo{
    font-size:1.3rem;
    color:#c8c8c8;
    margin-bottom:40px;
}

.boton{
    text-decoration:none;
    color:#111418;
    background:#d4af37;
    padding:15px 35px;
    border-radius:6px;
    font-weight:bold;
    transition:.3s;
}

.boton:hover{
    background:#f3d36b;
}

section{
    max-width:1000px;
    margin:auto;
    padding:90px 30px;
}

h2{
    font-size:2.2rem;
    margin-bottom:20px;
    color:#d4af37;
}

footer{
    border-top:1px solid #333;
    text-align:center;
    padding:30px;
    color:#999;
}
nav{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(17,20,24,.95);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    border-bottom:1px solid #2d2d2d;
}

.logo{
    color:#d4af37;
    font-size:1.5rem;
    font-weight:bold;
    letter-spacing:3px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    color:#f2f2f2;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}
